* {
    box-sizing: border-box;
}

.clearfix:after {
    content:"";
    display:block;
    clear:both;
}

@import 'https://fonts.googleapis.com/css?family=Baloo+Bhaina';
/*font-family: 'Baloo Bhaina', cursive;*/

@import 'https://fonts.googleapis.com/css?family=Baloo+Bhaina|Roboto+Slab:700';
/*font-family: 'Roboto Slab', serif;*/

@import 'https://fonts.googleapis.com/css?family=Nunito:300,400,700';
/*font-family: 'Nunito', sans-serif;*/

@import 'https://fonts.googleapis.com/css?family=Nunito:300,400,700|Oleo+Script:700';
/*font-family: 'Oleo Script', cursive;*/

body {
	font-family: 'Nunito', sans-serif;
	margin: 0;
	font-size: 18px;
	line-height: 1.5;
	background: #FFF;
	color: black;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
}

header {
	background-color: #000;
	height: 40%;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 3em;
	font-weight: 700;
	color: #89B30C;display: inline;
	padding-top: 40px;
	padding-left: 30px;
}

h2 {
	font-family: 'Baloo Bhaina', cursive;
	font-size: 1.5em;
	text-align: center;
}

h3 {
	font-family: 'Nunito', sans-serif;
	font-size: 1em;
	font-color: blue;
	margin: 0;
}

.topnav {
	margin-left: 300px;
}

.topnav li{
	display: inline-block;
	padding-left: 10px;
}

.topnav a {
	text-decoration: none;
	color: white;
}

.tagline {
	background-color: #fff;
}

#hero {
	background: url("img/coworking.jpg") no-repeat center center;
	height: 400px;
}

#sidebox {
	margin-left: 2em;
	margin-top: 2em;
	padding-right: 50px;
}

#box {
	float: right;
	width: 400px;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.8);
	margin-left: 100px;
	margin-top: 50px;
	margin-right: 40px;
}

#sidebox a {
	display: inline-block;
	background-color: #89B30C;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
}

.center {
	text-align: center;
}